.testimonials {
  text-align: center;
  padding: 40px;
  background-image: url('../assets/imotionals.jpg'); /* Укажите путь к изображению */
  background-size: cover; /* Обеспечивает, что изображение покроет всю секцию */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Не повторяет изображение */
}

.testimonials h2 {
  font-size: 50px;
  color: #ff007a;
  margin-bottom: 20px;
  z-index: 1; /* Это позволяет тексту оставаться поверх фона */
}

.testimonials span {
  color: #ffffff;
}

.testimonials-slider {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 20px; /* Отступ между карточками */
  padding: 20px 0;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 280px; /* Фиксированная минимальная ширина карточек */
  max-width: 280px; /* Фиксированная максимальная ширина карточек */
  height: 100%; /* Задает одинаковую высоту для всех карточек */
  box-sizing: border-box;
  z-index: 1; /* Карточки будут поверх фона */
}

.testimonial-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.testimonial-text {
  font-size: 1.1em;
  color: #666;
  margin: 15px 0;
  text-align: center;
}

.testimonial-author {
  font-size: 0.9em;
  color: #888;
  font-style: italic;
}

/* Стили для карусели */
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-list {
  padding: 0 20px; /* Отступы для крайних карточек */
}
